img {
    width: 100%;
}

#maincontent {
    height: 1003px;
}

#subcontent {
    height: 961px;
}

#column1 {
    position: relative;
    top: 25px;
    left: 2.6%;
    margin-bottom: 3%;
}

#column2 {
    
}