h4, 
.header {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

/*
#topBar {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    max-width: 1200px; 
}
*/

a, 
div, 
footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777 ; 
}

a {
    margin-right: 20px;
    text-decoration: none;
}

.container {
    padding-left: 0;
}

h1 {
    background-color:#4aaaa5;
    text-align: center;
    padding: 10px 0;
    color: white;
    width: 100%;
}

#navigation {
    position: relative;
    top: 25px;
    left: 2.5%
}

#maincontent {
    background-color: #dddddd;
    height: 810px;
    position: relative;
    top: -8px;
    padding-top: 30px;
}

#subcontent {
    height: 500px;
    background-color: #ffffff;
}

h3 {
    color: #4aaaa5;
}

#contentHeader {
    border-bottom-style: groove;
    padding-bottom: 8px;
    width: 94%;
    position: relative;
    left: 4%;
    top: 15px;
}

footer {
    text-align: center;
    background-color: #666666;
    padding-top: 20px;
    position: relative;
    bottom: 10px;
}

#footer-text {
    padding-top: 10px;
    bottom: 0;
    color: white;
}

@media only screen and (max-width: 768px) {
    #navigation {
        top: -6px;
        left: 25.5%;
    }

    #subcontent {
        height: 700px;
    }
}

@media only screen and (max-width: 640px) {
    #subcontent {
        height: 700px;
    }

    #navigation {
        left: 25.5%;
        top: -6px;
    }
}