.header {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

a {
    margin-right: 20px;
    margin-top: 10px;
}

#navigation {
    position: relative;
    left: 40px;
}

h1 {
    background-color:#4aaaa5;
    text-align: center;
    padding: 10px 0;
    color: white;
}