.header {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

a {
    margin-right: 20px;
    margin-top: 10px;
}

#navigation {
    position: relative;
    left: 40px;
}

h1 {
    background-color:#4aaaa5;
    text-align: center;
    padding: 10px 0;
    color: white;
}

#maincontent {
    background-color: #dddddd;
    height: 810px;
    position: relative;
    top: -8px;
    padding-top: 20px;
}

#subcontent {
    height: 500px;
    background-color: #ffffff;
}

footer {
    text-align: center;
    background-color: #666666;
    padding-top: 20px;
    position: relative;
    bottom: 10px;
}

#footer-text {
    padding-top: 10px;
    bottom: 0;
    color: white;
}