#aboutContent {
    margin-top: 2%;
}

#bioPic {
    width: 100%;
    margin-left: 12%;
}

p {
    margin-left: 3%;
}

@media only screen and (max-width: 768px) {
    #bioPic {
        margin: 1%;
    }
}

@media only screen and (max-width: 640px) {
    #bioPic {
        margin: 1%;
    }
}