img {
    width: 100%;
}

#maincontent {
    height: 1003px;
}

#subcontent {
    height: 961px;
}

#column1 {
    position: relative;
    top: 25px;
    left: 2.6%;
    margin-bottom: 3%;
}

#column2 {
    top: 25px;
    left: 7%;
}

h4 {
    background-color:#4aaaa5;
    text-align: center;
    padding: 10px 0;
    color: white;
    width: 92.4%
}
.photoID {
    position: absolute;
    bottom: 3px;
}

.photoID2 {
    position: absolute;
    bottom: 37px;
}

@media only screen and (max-width: 640px) {
    #maincontent {
        height: 1744px;
        width: 100%;
    }

    #subcontent {
        height: 100%;
        width: 100%;
    }

    img {
        width: 75%;
        margin: 0 auto;
    }

    #column1 {
        left: 11.6%;
    }

    #column2 {
        left: 12%;
        margin-bottom: 3%;
    }

    h4 {
        width: 70.9%
    }

    .photoID, 
    .photoID2{
        bottom: 3px;
    }
}